/* *{border: 1px solid white;} */
h2{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    
}
h3{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    max-width: 90%;
    margin: 3rem auto;
}
.top img{
    height: 20rem;
}
.top h1{
    font-size: 6rem;
    font-weight: 500;
}
.top p{
    font-size: 2rem;
    text-align: right;
}

.slider{
    display: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    height: 3rem;
    /* height: 20rem; */
    overflow: auto;
    gap: 1rem;
    overflow-x: hidden;
}
.slider *{
    background-color: #56bfc1;
    margin: 1rem;
}
.slider::-webkit-scrollbar{
    display: none;
}
.snap-container{
    scroll-snap-type: inline mandatory;
}
.snap-item{
    scroll-snap-align: center;
}

.recent-events {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    margin: 5rem;
    margin-right: 0rem;
    /* place-items: center center; */
}
.recent-events h2{
    grid-column: 1 / 2;
}
.recent-events p{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 2rem;
    max-width: 90%;
}
.recent-events .txt-content{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}
.txt-content p{
    margin-left: 10%;
}
.txt-content h3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 4rem;
    font-weight: 400;
    text-align: right;
}
.txt-content p{
    font-size: 2rem;
    text-align: right;
}
.recent-events .planet-system{
    grid-column: 2 / 4;
    grid-row: 1 / 6;
}
.recent-events{
    max-width: 100vw;
}
.recent-events img{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.planet-system{
    --planet-system-height: 40vw;
    position: relative;
    /* width: 50vw; */
    width: var(--planet-system-height);
    height: var(--planet-system-height);
    /* overflow-x: hidden; */
}

@keyframes rotate {
    0%, 10%{
        transform: rotate(-105deg);
        width: var(--small-planet);
        transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--small-planet) / 2);
        right: calc(calc(var(--planet-system-height) / 2) - calc((var(--small-planet) / 2)));
        top: calc(50% - calc(var(--small-planet) / 2) );
        width: var(--small-planet);    
    }
    
    20%, 30%{
        transform: rotate(-60deg);
        width: var(--small-planet);
        transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--small-planet) / 2);
        right: calc(calc(var(--planet-system-height) / 2) - calc((var(--small-planet) / 2)));
        top: calc(50% - calc(var(--small-planet) / 2) );
        width: var(--small-planet);    
    }
    40%, 50%{
        transform: rotate(0deg);
        transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--big-planet) / 2);
        right: calc(calc(var(--planet-system-height) / 2) - calc((var(--big-planet) / 2)));
        top: calc(50% - calc(var(--big-planet) / 2) );
        width: var(--big-planet);    
        /* width: var(--big-planet);
        top: calc(50% - calc(var(--big-planet) / 2));
        right: calc(25vw - calc(var(--big-planet) / 2)); */
    }
    
    60%, 70%{
        transform: rotate(60deg);
        width: var(--small-planet);
        transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--small-planet) / 2);
        right: calc(calc(var(--planet-system-height) / 2) - calc((var(--small-planet) / 2)));
        top: calc(50% - calc(var(--small-planet) / 2) );
        width: var(--small-planet);    
    }
    
    80%, 100%{
        transform: rotate(105deg);
        width: var(--small-planet);
        transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--small-planet) / 2);
        right: calc(calc(var(--planet-system-height) / 2) - calc((var(--small-planet) / 2)));
        top: calc(50% - calc(var(--small-planet) / 2) );
        width: var(--small-planet);    
    }
}
.orbit{
    height: var(--planet-system-height);
    position: relative;
    /* aspect-ratio: 1/1; */
    top: 0;
    right: -50%;
    /* z-index: 2; */
}
.planet{
    --big-planet: 25vw;
    --small-planet: 5vw;
    transform-origin: calc(calc(var(--planet-system-height) / 2) + var(--small-planet) / 2);
    position: absolute;
    right: calc(25vw - calc((var(--small-planet) / 2)));
    top: calc(50% - calc(var(--small-planet) / 2) );
    width: var(--small-planet);
}
.planet1{
    animation: rotate 10s cubic-bezier(.87,.26,.2,1.3) infinite both;
}
.planet2{   
    animation: rotate 10s -2s cubic-bezier(.87,.26,.2,1.3) infinite both;
}
.planet3{
    animation: rotate 10s -4s cubic-bezier(.87,.26,.2,1.3) infinite both;
}
.planet4{
    animation: rotate 10s -6s cubic-bezier(.87,.26,.2,1.3) infinite both;
}
.planet5{
    animation: rotate 10s -8s cubic-bezier(.87,.26,.2,1.3) infinite both;
}

.event-head{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.event-head p{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 10rem;
}
.event-grid{
    --grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 550px));
    /* grid-template-rows: auto; */
    gap: 3rem;
    /* place-content: space-evenly center; */
    justify-content: center;
    padding: 3rem;
}
.event{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event.event-none{
    display: none;
}
.event h3{
    margin: 0.5rem;
}
.event p{
    font-size: 1.3rem;
    margin: 0.5rem;
}
.event .evnt-img{
    aspect-ratio: 16/9;
    background: #56bfc1;
    contain: strict;
    border-radius: 5px;
}
.event .evnt-img img{
    display: relative;
    bottom: 0px;
}

.foot-img{
    display: flex;
    width: 20vw;
    margin: auto;
}

@media (685px < width <=850px){

    .top{
        flex-direction:column;
    }

    .top img{
        display:none;
    }

    .recent-events{
        overflow-x:hidden;
        margin:0rem;
    }
    .recent-events h2{
        grid-column: 1/3;
        grid-row: 1;
        margin-top:10rem;
        margin-left:5vw;
        font-size:4rem;
    }
    .recent-events p{
        margin-right:10rem;
        margin-left:1rem;
    }

    .recent-events .txt-content {
        margin-right:1rem;
        grid-column:1/4;
    }
    .recent-events .txt-content h3{
        text-align:center;
        margin-top:4rem;
        grid-column:1/4;
        font-size:4rem;
        margin-right:1rem;
        margin-bottom:4rem;
    }
    .recent-events .txt-content p{
        margin-right:0rem;
    }

    .planet-system{
        top:2rem;
        left: 30vw;
    }

    .recent-events img{
        grid-column:1/5;
    }

    .event-head{
        margin-top:10rem;
        width:100%; 
    }

    .event-head h2{
        font-size:4rem;
        width:100%;
        margin:1rem;
        text-align:center;
    }

    .event-head p{
        flex-grow:5;
        font-size:1.5rem;
    }
}


@media ( width <= 685px){

    .top{
        flex-direction:column;
    }

    .top img{
        display:none;
    }

    .recent-events{
        overflow-x:hidden;
        margin:0rem;
    }
    .recent-events h2{
        margin-left:1rem;
        font-size:4rem;
    }
    .recent-events p{
        margin-left:1rem;
    }

    .recent-events .txt-content {
        margin-right:1rem;
        grid-column:1/4;
    }
    .recent-events .txt-content h3{
        margin-top:4rem;
        grid-column:1/4;
        font-size:4rem;
        margin-right:1rem;
    }
    .recent-events .txt-content p{
        margin-right:0rem;
    }

    .planet-system{
        top:1rem;
        left:10vw;
    }

    .recent-events img{
        grid-column:1/4;
        width:100%;
    }

    .event-head{
        width:100%;
        
    }

    .event-head h2{
        font-size:4rem;
        width:100%;
        margin:1rem;
        text-align:center;
    }

    .event-head p{
        flex-grow:5;
        font-size:1.5rem;
    }

    .event-grid .event .evnt-img{
        margin-top:1rem;
    } 

    .event-grid .event .evnt-img img{
        width:100%;
    } 
}