/* * { border: 1px solid white; } */

html{
    font-family:'Satoshi';
}

/* .poly1{
    position: absolute;
    left: 4.8rem;
    top: 8rem;
    z-index: -1;
    width: 25%;
  }
  .poly2{
    position: absolute;
    z-index: -1;
    width: 10%;
    right: 5%;
    top: 2rem;
  }
  .poly3{
    position: absolute;
    right: 17%;
    top: 115vh;
    width: 25%;
    z-index: -1;
}  */

.poly1{
    display:none;
    position: absolute;
    left: -4.8rem;
    top: 35rem;
    z-index: -1;
    width: 25%;
  }
  .poly2{
    display:none;
    position: absolute;
    z-index: -1;
    width: 10%;
    right: 0%;
    top: 5rem;
  }
  .poly3{
    position: absolute;
    right: 17%;
    top: 115vh;
    width: 25%;
    z-index: -1;
  }

.land-image{
    --img-height: 44rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:90vh;
    align-items: center;
    margin: 0rem auto;
}
.land-image p{
    width: fit-content;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    max-width: 99%;
}
.land-image p:nth-child(1){
    opacity:0;
    letter-spacing: -0.225em;
}
.land-image p:nth-child(2){
    opacity:0;
    letter-spacing: -0.05em;
    margin-right: -0.05em;
}
.land-image p:nth-child(3){
    opacity:0;
    letter-spacing: 0.085em;
    margin-right: -0.085em;
}
.land-image p:nth-child(4){
    letter-spacing: 0.20em;
    margin-right: -0.22em;
}
.land-image img{
    z-index:-1;
    position: absolute;
    height: var(--img-height);
}

/* Who We Are? */
.whoweare{
    width: 90%;
    display: grid;
    left: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 12rem auto;
    align-items: center;
}

.box-parent{
    position: relative;
}

.box{
    display: block;
    position: absolute;
    height: 12rem;
    width: 12rem;
    right: 3%;
    top: -10%;
    background: rgba(13, 156, 129, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.whoweare img{
    width: 100%;
    margin: auto auto;
}
.whoweare-inner{
    margin: 5%;
    font-size: 1.5rem;
    text-align: right;
    line-height: 2.3rem;
}
.whoweare-inner h2{
    margin: 2rem;
    font-size: 3rem;
}
.whoweare-inner p{
    text-align: justify;
}

/* AR VR MR Cards */
.card-container{
    width: 100%;
    height: 25rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 7rem 0rem;
}

.card{
    background: linear-gradient(180deg, #0D9C81 14.18%, rgba(76, 21, 203, 0.13) 100%);
    /* background: linear-gradient(180deg, #55BEC0 0%, #354A64 65.5%, #161B37 93.23%); */
    background: linear-gradient(180deg, rgba(85, 190, 192, 0.8) 14.18%, rgba(53, 74, 100, 0.478906) 65.58%, rgba(22, 27, 55, 0.2) 97.32%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(14px); 
    border-radius: 15px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.card *{
    text-align: center;
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.8rem;
    margin: 0px;
}
.card div{
    margin-top: 2rem;
    bottom: 0rem;
    display: relative;
}
.card p{
    
    font-family:'Satoshi';
    font-size: 1.5rem;
    letter-spacing: 0px;
    width: 80%;
    margin: 10px auto   ;
}

/* Domains We Offer */
.dwo{
    display:block;
    margin: 10rem 2rem;
}
.dwo h2{
    font-size:4rem;
    text-align:center;
    height:10vh;
}

.dwo .dom_container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 5rem 0px;
    gap:0px;
}


.dwo .dom_container div:nth-child(even){
    margin:1rem 0;
    display:flex;
    justify-content: space-around;
    gap:5rem;
}
.dwo .dom_container div:nth-child(odd){
    margin:1rem 0;
    display:flex;
    flex-direction:row-reverse;
    gap:5rem;
}
.dwo .dom_container .dom div:nth-child(odd){
    margin:1rem 0;
    flex-direction:column;
    font-size:2rem;
    width:40rem;
    height:30rem;
    justify-content: center;

}
.dwo .dom_container .dom div:nth-child(even){
    margin:1rem 0;
    width:40rem;
    height:30rem;
}


/* About College */
.ab-c{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    padding: 3rem 3rem;
    margin: 10rem 4%;
    align-items: center;
    justify-content: space-evenly;
    /* background:linear-gradient(180deg, #55BEC0 0%, #354A64 65.5%, #161B37 93.23%); */
    background:#5cb2b4b5;
    border-radius: 5px;
}
.ab-c-txt{
    width: 100%;
}
.ab-c h2{
    font-size: 3rem;
    line-height: 3.4rem;
}
.ab-c p{
    font-size: 1.8rem;
    line-height: 2.5.rem;
    margin: 1.2rem 0;
}
.ab-c img{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.3s;
}
.ab-c img:hover{
    transform: translateY(-0.2rem);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 50px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.contrib{
    width: 100%;
    display: block;
}
.contrib a{
    width: 100%;
    display: block;
}
button {
    /* Variables */
    display: inherit;
   --button_radius: 0.75em;
   --button_color: #070708;
   --button_outline_color: aliceblue;
   font-size: 1.5rem;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin: 8rem auto;
   margin-top: -2rem;
}
  
.button_top {
   display: block;
   width: fit-content;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
}
  
button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
}
  
button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
}

.button_top img{
    height: 1.5rem;
}

@media (851px<= width <= 1550px)  {
    .whoweare{
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .whoweare-inner{
        text-align: center;
        line-height: 2rem;
    }
    .box{
        display: none;
    }
    .ab-c{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (685px <= width <= 850px)  {

    .land-image{
        height:75vh;
    }

    .whoweare{
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        gap: 1rem;
    }
    .whoweare-inner{
        text-align: center;
        line-height: 2rem;
    }

    /*cards*/
    .card-container {
        height:26rem;
        display:flex;
        width:100%;
        overflow-x: scroll;
        justify-content: left;
        scroll-snap-type: x mandatory;
        flex-basis:300px;
    }
    .card-container::-webkit-scrollbar{
        display: none;
    }

    .card{
        flex:none;
        scroll-snap-align: left;
        width:50vw;
        margin:0rem 3rem;
        font-size: 0;
    }

    .dwo{
        margin:0rem 0rem;
    }

    .dwo .dom_container div:nth-child(n){
        margin-bottom:4rem;
        gap:0rem;
    }

    .dwo .dom_container .dom div:nth-child(n){
        margin-left:0rem;
        margin-right:0rem;
        text-align:center;      
        height:20rem;
        width:35rem;
    }


    .dwo .dom_container .dom .dom_text h1{
        margin-right:0rem;
        font-size:3rem;
        margin-bottom:2rem;
    }
    .dwo .dom_container .dom .dom_text p{
        font-size:1.3rem;
    }

    
    .box{
        display: none;
    }
    .ab-c{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        height:60rem;
    }
    .ab-c-img{
        width: 100%;
    }
}

@media (width<=685px){

    /*landing images*/
    .land-image{
        --img-height: 35rem;
        height:fit-content;
        margin: calc(90vh - calc(var(--img-height) * 1.5)) auto;
    }

    /* .land-image img{
        
    } */

    .land-image p{
        font-size:5rem;
    }

    .land-image p:nth-child(4){
        letter-spacing:0.25em;
    }

    /*who we are*/
    .whoweare{
        margin-top:6rem;
        grid-template-columns:auto;
        grid-template-rows:1fr 1fr;
    }

    .whoweare-inner{
        text-align: center;
    }
    
    .whoweare-inner p{
        text-align:justify;
    }

    .box{
        display:none;
    }

    /*cards*/
    .card-container {
        height:26rem;
        display:flex;
        width:100%;
        overflow-x: scroll;
        justify-content: left;
        scroll-snap-type: x mandatory;
        flex-basis:300px;
    }
    .card-container::-webkit-scrollbar{
        display: none;
    }

    .card{
        flex:none;
        scroll-snap-align: left;
        width:50vw;
        margin:0rem 3rem;
        font-size: 0;
    }

    /*domains we offer*/   
    .dwo{
        margin:0rem 0rem;
    }

    .dwo .dom_container{
        margin:2rem;
    }

    .dwo .dom_container div:nth-child(n){
        flex-direction: column;
        margin-bottom:-2rem;
        gap:0rem;
    }

    .dwo .dom_container .dom div:nth-child(n){
        text-align:center;      
        height:20rem;
        width:30rem;
        gap:1rem;
    }

    .dwo .dom_container .dom .dom_image{
        transform:translateY(-3rem);
    }

    .dwo .dom_container .dom .dom_text h1{
        font-size:3rem;
    }
    .dwo .dom_container .dom .dom_text p{
        font-size:1.5rem;
    }



    /*about college*/
    .ab-c{
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr;
    }

    .ab-c p{
        font-size:1.5rem;
    }

}