/* * { border: 1px solid white; } */

.land-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 6rem auto;
}
.land-image p{
    width: fit-content;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    max-width: 99%;
}
.land-image p:nth-child(1){
    letter-spacing: -0.225em;
}
.land-image p:nth-child(2){
    letter-spacing: -0.05em;
    margin-right: -0.05em;
}
.land-image p:nth-child(3){
    letter-spacing: 0.085em;
    margin-right: -0.085em;
}
.land-image p:nth-child(4){
    letter-spacing: 0.22em;
    margin-right: -0.22em;
}
.land-image img{
    position: absolute;
    width: 44rem;
}

/* Who We Are? */
.whoweare{
    width: 90%;
    display: grid;
    left: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 12rem auto;
    align-items: center;
}

.box-parent{
    position: relative;
}

.box{
    display: block;
    position: absolute;
    height: 12rem;
    width: 12rem;
    right: 3%;
    top: -10%;
    background: rgba(13, 156, 129, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 45px;
}
.whoweare img{
    width: 100%;
    margin: auto auto;
}
.whoweare-inner{
    margin: 5%;
    font-size: 1.5rem;
    text-align: right;
    line-height: 2.3rem;
}
.whoweare-inner h2{
    margin: 2rem;
    font-size: 3rem;
}
.whoweare-inner p{
    font-family: satoshi;
}

/* AR VR MR Cards */
.card-container{
    width: 100%;
    height: 25rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 7rem 0rem;
}

.card{
    background: linear-gradient(180deg, #0D9C81 14.18%, rgba(76, 21, 203, 0.13) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(14px);
    border-radius: 34px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.card *{
    text-align: center;
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.8rem;
    margin: 0px;
}
.card div{
    margin-top: 2rem;
    bottom: 0rem;
    display: relative;
}
.card p{
    font-size: 1.5rem;
    letter-spacing: 0px;
    width: 80%;
    margin: 10px auto   ;
}

/* Domains We Offer */
.dwo{
    margin: 4rem;
}

.dwo h2{
    margin: 3rem;
    font-size: 4rem;
    text-align: center;
}

.dwo .dom > div{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px auto;
    padding: 1rem;
    max-width: 70%;
    color: #4C15CB;
    border: 5px solid #4C15CB;
    border-radius: 34px;
    background-image: url("../assets/bg-marble.png");
}
.dom1{
    
    background-position: 1% 1%;
}
.dom2{
    background-position: 1% 20%;
}
.dom3{
    background-position: 1% 40%;
}
.dom4{
    background-position: 1% 60%;
}

/* About College */
.ab-c{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    padding: 3rem 3rem;
    margin: 10rem 4%;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #0D9C81 0%, rgb(26, 9, 66) 90%, rgb(9, 3, 22) 100%);
    border-radius: 21px;
}
.ab-c-txt{
    width: 100%;
}
.ab-c h2{
    font-size: 3rem;
    line-height: 3.4rem;
}
.ab-c p{
    font-size: 1.8rem;
    line-height: 2.5.rem;
    margin: 1.2rem 0;
}
.ab-c img{
    width: 100%;
    overflow: hidden;
    border-radius: 36px;
}
.contrib{
    width: 100%;
    display: block;
}
.contrib a{
    width: 100%;
    display: block;
}
button {
    /* Variables */
    display: inherit;
   --button_radius: 0.75em;
   --button_color: #070708;
   --button_outline_color: aliceblue;
   font-size: 1.5rem;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin: 8rem auto;
   margin-top: -2rem;
}
  
.button_top {
   display: block;
   width: fit-content;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
}
  
button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
}
  
button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
}

.button_top img{
    height: 1.5rem;
}

@media (width <= 1550px)  {
    .whoweare{
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .whoweare-inner{
        text-align: center;
        line-height: 2rem;
    }
    .box{
        display: none;
    }
    .ab-c{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
