/* * { border: 1px solid white; } */


.poly1{
  position: absolute;
  left: -4.8rem;
  top: 8rem;
  z-index: -1;
  width: 25%;
}
.poly2{
  position: absolute;
  z-index: -1;
  width: 10%;
  right: 5%;
  top: 2rem;
}
.poly3{
  position: absolute;
  right: 17%;
  top: 115vh;
  width: 25%;
  z-index: -1;
}

.top{
  text-align: center;
  margin: 5em;
}
.top h1{
  margin: 1rem;
  font-size: 3rem;
}
.top p{
  font-size: 1.7rem;
}
.proj{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 90%;
  min-height: 75vh;
  margin: 8REM;
}
.proj .box{
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  height: 100%;
  width: 35%;
  z-index: -1;
}
.proj1 .box{
  right: 0px;
  background-color: #7A5473;
}

.proj2 .box{
  left: 0px;
  background-color: #5D92C7;
}
.proj3 .box{
  right: 0px;
  background-color: #8C4645;
}
.proj .proj-txt{
  text-align: center;
  max-width: 40%;
}
.proj .proj-txt p{
  text-align: justify;
}
.proj img {
  width: 40%;
  transition: 0.3s;
}
.proj .r:hover{
  transform: translate(-10px);
}
.proj .l:hover{
  transform: translate(10px);
}
.proj .proj-txt h2{
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0.5rem;
}
.proj .proj-txt p{
  border-top: aliceblue solid 0.7px;
  font-weight: 100;
  font-size: 2rem;
  padding-top: 15px;
}
.youtube-vid{
  width: 40%;
  aspect-ratio: 16/9;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px;
}

@media (685px <= width <850px) {
  html {
    font-size: 10px;
    overflow-x:hidden;
  }

  .header {
    z-index: 1;
  }

  .header .header-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    left:100%;
    background: linear-gradient(180deg, #55BEC0 0%, #354A64 65.5%, #161B37 93.23%);
    overflow-x:hidden;
    opacity:0;
    top: 0;
    margin-top: 00px;

    list-style-type: none;
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    
  }

  .header .header-inner a {
    font-family: 'Satoshi';
    display: block;
    color: white;
    font-size:1.5rem;
  }

  .header .toggle_button {
    display: flex;
  }

  .header .header-inner.active {
    right:0px;
    opacity:1;
    transform:translateX(-250px);
  }

}

