/* *{ border: 1px solid white; } */

:root {
    --card-height: fit-content;
    --card-width: fit-content;
    --event-width: 125rem;
    --font-large:4rem;
    --font-small:2rem;
}

/* *{
    font-family:'Poiret One',sans-serif;
} */


.header{
    z-index:2;
}
/*---------------Landing Section---------------*/


.landing_sect {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
}

.image_l img {
    position: absolute;
    left: -4.8rem;
    top: -5rem;
    z-index: -1;
    width: 25%;
}

.land_content {
    width: 50rem;
    text-transform: uppercase ;
}
.land_content h1{
    font-size: 7rem;

}
.image_r img {
    position: absolute;
    z-index: -1;
    width: 10%;
    right: 0%;
    top: -10rem;
}

.land_content>* {
    font-style: normal;
    font-size: 1.7rem;
    color: #FFFFFF;
    text-align: center;
}

/*---------------Game Zone---------------*/

.g_zone {
    position: relative;
    margin: 0 1rem;
}

.g_cards::-webkit-scrollbar{
    display:none;
}

.g_zone h1 {
    display: block;
    font-size: var(--font-large);
    text-align: center;
    margin: 5rem 0;
    font-weight:500;
}

/* Button commented out for future use */
/* .g_zone .l_button {
    position: absolute;
    z-index: 1;
    width: 5rem;
    top: 45vh;
    border: none;
    background: none;
}

.g_zone .l_button img {
    cursor: pointer;
    width: 5rem;
}

.g_zone .image_r {
    position: absolute;
}

.g_zone .r_button {
    position: absolute;
    z-index: 1;
    width: 5rem;
    right: 0;
    top: 45vh;
    border: none;
    background: none;
}

.g_zone .r_button img {
    cursor: pointer;
    width: 5rem;
} */

.g_zone .g_cards {
    margin-top: 1rem;
    display: flex;
    overflow-x:scroll;
    justify-content: space-between;
    height: fit-content;
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth; */
}


.g_cards >div:nth-child(n) {
    display:flex;
    flex-direction:column;
    scroll-snap-align: start;
    min-width: 30rem;
    background: linear-gradient(180deg, rgba(85, 190, 192, 0.3) 0%, rgba(28, 35, 71, 0.3) 100%);
    backdrop-filter: blur(25px);
    margin: 0 1rem;
    justify-content:space-between;
}

.g_cards >div:nth-child(4) {
    display: none;
}

.g_cards .card h2{
    margin-left:1rem;
    text-align:left;
    font-size:3rem;
    font-weight:400;
}

.g_cards .card img{
    margin:1rem 1rem;
}

.g_cards .card p{
    margin-right:1rem;
    margin-bottom:1rem;
    text-align: right;
    font-size:1.5rem;
}


/*---------------Events Section---------------*/

.event_section {
    position: relative;
    justify-content: space-around;
}

.event_section .poly3 {
    display:none;
    position: absolute;
    right: 5rem;
    bottom: 50%;
}

.event_content>* {
    display: block;
    /* font-family: 'Poiret One'; */
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
}

.event_section .event_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    overflow-y: hidden;
    text-align: center;
    justify-items: center;
}

.event_grid>div:nth-child(n) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 0;
    transition: 0.4s ease-in-out all;
    position: relative;
    height: fit-content;
}

.event_section .event_grid p {
    width: 30rem;
    /* font-family: 'Poiret One'; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.event_grid .card1_container{
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}

.event_grid .card1_container .card1 {
    z-index: 0;
    width:30rem;
    --ratio:1.3;
    height:calc(var(--ratio)*30rem);
}

.card1_container .card1 img{
    height:100%;
}

.event_grid .card1_container .card_1_line {
    z-index: -1;
    position: absolute;
    width: 11rem;
    left: 100%;
    top: 10rem;
    border: 1px solid white;
}

.event_grid .card_1_line::after {
    position: absolute;
    right: -1rem;
    bottom: -6px;
    height: 1rem;
    width: 1rem;
    background: white;
    content: "";
    border-radius: 50%;
}

.event_grid .card2_container {
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}
.card2_container .card2 img{
    height:100%;
}

.event_grid .card2_container .card2 {
    width: 30rem;
    --ratio:1.4;
    height:calc(var(--ratio)*30rem);
}

.event_grid .card2_container .card_2_line {
    position: absolute;
    z-index: -1;
    width: 11rem;
    right: 100%;
    top: 25rem;
    border: 1px solid white;
}

.event_grid .card2_container .card_2_line::before {
    position: absolute;
    left: -0.8rem;
    bottom: -6px;
    height: 1rem;
    width: 1rem;
    background: white;
    content: "";
    border-radius: 50%;
}

.event_grid .card3_container {
    flex-direction: row;
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}

.event_grid .card3_container .card3 {
    width: 30rem;
    --ratio:1;
    height:calc(var(--ratio)*30rem);
}

.card3_container .card3 img{
    height:100%; 
}

.event_grid .card3_container .card_3_line{
    position:absolute;
    z-index:-1;
    width:11rem;
    left:100%;
    top:10rem;
    border:1px solid white;
}

.event_grid .card_3_line::after{
    position: absolute; 
    right: -1rem; 
    bottom: -6px; 
    height: 1rem; 
    width: 1rem;
    background: white; 
    content: ""; 
    border-radius: 50%;
}

.event_grid .card4_container{
    flex-direction:row;
    top:5rem;
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}

.event_grid .card4_container .card4{
    width: 30rem;
    --ratio:1;
    height:calc(var(--ratio)*30rem);
}


.card4_container .card4 img{
    height:100%;
}

.event_grid .card4_container .card_4_line{
    position:absolute;
    z-index:-1;
    width:11rem;
    right:100%;
    top:15rem;
    border:1px solid white;
}

.event_grid .card4_container .card_4_line::before{
    position: absolute; 
    left: -0.8rem; 
    bottom: -6px; 
    height: 1rem; 
    width: 1rem;
    background: white; 
    content: ""; 
    border-radius: 50%;
}

.event_grid .card5_container{
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}

.event_grid .card5_container .card5 {
    z-index: 0;
    width: 30rem;
    --ratio:1;
    height:calc(var(--ratio)*30rem);
}

.card5_container .card5 img{
    height:100%;
}

.event_grid .card5_container .card_5_line {
    z-index: -1;
    position: absolute;
    width: 11rem;
    left: 100%;
    top: 15rem;
    border: 1px solid white;
}

.event_grid .card_5_line::after {
    position: absolute;
    right: -1rem;
    bottom: -6px;
    height: 1rem;
    width: 1rem;
    background: white;
    content: "";
    border-radius: 50%;
}

.event_grid .card6_container {
    flex-direction: row;
    top: 4rem;
    border:3px solid rgb(214, 210, 210);
    padding:0.5rem;
}

.event_grid .card6_container .card6 {
    width: 30rem;
    --ratio:1;
    height:calc(var(--ratio)*30rem);
}

.card6_container .card6 img{
    height:100%;
}

.event_grid .card6_container .card_6_line {
    position: absolute;
    z-index: -1;
    width: 11rem;
    right: 100%;
    top: 20rem;
    border: 1px solid white;
}

.event_grid .card6_container .card_6_line::before {
    position: absolute;
    left: -0.8rem;
    bottom: -6px;
    height: 1rem;
    width: 1rem;
    background: white;
    content: "";
    border-radius: 50%;
}


.event_grid div:nth-child(n) {
    transition: 0.4s ease-in-out all;
}

.event_grid div:nth-child(n) div:hover {
    cursor: pointer;
    transform: scale(1.01);
}


.event_section .dividing_line {
    position: absolute;
    z-index: 0;
    top: 12rem;
    width: 0rem;
    left: 50%;
    border: 1px solid white;
}


/*---------------Sponsor Section---------------*/

.sponsor_section {
    display: block;
    justify-content: space-around;
    margin-top: 10rem;
}

.sponsor_section .sponsor_head {
    display: block;
}

.sponsor_head p {
    position: relative;
    /* font-family: 'Poiret One'; */
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
}

.sponsor_head .poly4 {
    z-index: -1;
    position: absolute;
    left: 5rem;
}

.sponsor_head .poly5 {
    z-index: -1;
    position: absolute;
    right: 5rem;
}

.sponsor_head .sponsor_container{
    display:flex;
    justify-content: center;
}

.sponsor{
    height:fit-content;
}

.sponsor_container .sponsor img{
    --ratio:1;
    width:20vw;
    height:calc(var(--ratio)*10);
}

/* --------- Media Queries --------- */
@media (685px < width <=900px) {

    .g_zone{
        margin:0 1rem;
    }
    .g_zone .g_cards{
        overflow-x:scroll;
    }
    .g_cards::-webkit-scrollbar{
        display:none;
    }
    .g_zone .l_button{
        display:none;
    }
    .g_zone .r_button{
        display:none;
    }

    ::-webkit-scrollbar{
        display:none;
    }

    .sponsor_head .sponsor_grid>div:nth-child(n) {
        margin: 0rem 1rem;
    }

    .event_section .poly3{
        display:none;
        overflow-x:hidden;
    }

    .sponsor_head .poly4 {
        display: none;
    }
    .sponsor_head .poly5 {
        display: none;
    }
    .sponsor_head .sponsor_grid>div:nth-child(n) {
        margin: 0rem 2rem;
    }
    .sponsor_container .sponsor img{
        --ratio:1;
        width:40vw;
        height:calc(var(--ratio)*10);
    }

}

@media (width<=685px) {

    .land_content h1{
        font-size: 5.5rem;
    }


    .g_zone h1{
        font-size:4rem;
    }
    .g_cards .card h2{
        margin-top:1rem;
        margin-left:1rem;
        text-align:left;
        font-size:2rem;
    }
    
    .header .header-inner a {
        display: block;
        color: aliceblue;
        font-size:1.5rem;
    }


    .landing_sect .image_l img{
        display:none;
    }
    .landing_sect .image_r img{
        display:none;
    }
    .landing_sect .land_content{
        margin:0 1rem;
    }


    .g_zone{
        margin:0 1rem;
    }
    .g_zone .g_cards{
        height:fit-content;
    }
    .g_zone .l_button{
        display:none;
    }
    .g_zone .r_button{
        display:none;
    }


    .event_section{
        margin-top:10rem;
    }
    .event_section .event_grid {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        align-items: center;
    }
    .event_section .poly3{
        display:none;
        overflow-x:hidden;
    }
    .event_grid>div:nth-child(n) {
        z-index:1;
        width: var(--card-width)*2;
        height: var(--card-height);
        background: rgb(66, 65, 65);
        justify-content: space-evenly;
    }
    .event_grid .card4_container {
        top: 0rem;
    }
    .event_section .dividing_line {
        z-index: -2;
    }
    .event_grid .card1_container .card_1_line {
        display: none;
    }
    .event_grid .card2_container .card_2_line {
        display: none;
    }
    .event_grid .card3_container .card_3_line {
        display: none;
    }
    .event_grid .card4_container .card_4_line {
        display: none;
    }
    .event_grid .card5_container .card_5_line {
        display: none;
    }
    .event_grid .card6_container .card_6_line {
        display: none;
    }
    .event_grid .card7_container .card_7_line {
        display: none;
    }
    .event_section .dividing_line {
        z-index:-1;
        height: 150rem;
    }


    .sponsor_head .sponsor_grid {
        margin: 0rem 2rem;
    }
    .sponsor_head .poly4 {
        display: none;
    }
    .sponsor_head .poly5 {
        display: none;
    }
    .sponsor_head .sponsor_grid>div:nth-child(n) {
        margin: 0rem 2rem;
    }
    .sponsor_container .sponsor img{
        --ratio:1;
        width:50vw;
        height:calc(var(--ratio)*10);
    }
}