/* * { border: 1px solid white; } */

* {
  margin: 0px;
  color: aliceblue;
  font-family: "Satoshi", sans-serif;
  font-weight:400;
  padding: 0px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 9px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #1f1e1e;
}
:root{
  margin: 0px;

}
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  background: #070708;
  padding: 0%;
  min-height: 100vh;
}

@keyframes intro {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
main > *{
  animation: intro 0.6s 1;
}

a {
  text-decoration: none;
}

/* 
.poly1{
  position: fixed;
  left: -4.8rem;
  top: 8rem;
  z-index: -1;
  width: 30%;
}
.poly2{
  position: fixed;
  z-index: -1;
  width: 10%;
  right: 3em;
  top: 2rem;
}*/
.foot-img{
  display: flex;
  width: 20vw;
  margin: auto;
}

#cur_page{
  text-decoration: underline solid aliceblue;
  text-underline-offset: 0.7rem;
}

/* Header Navbar */
.header{
  z-index: 2;
  top: 0px;
  background-color: #070708;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  font-size: 1.3rem;
  padding: 0.5vh;
  border-bottom: 1px solid aliceblue ;
}

.header-inner{
  width: 600px;
  min-width: 40%;
  max-width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-inner a{
  color: aliceblue;
  padding: 10px 5px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header-inner a:hover{
  text-decoration: underline solid aliceblue;
  text-underline-offset: 0.7rem;
}
.header-inner:hover >:not(:hover){
  opacity: 0.4;
}

.header img{
  width: 50px;
}

.header div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header div p{
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 550;
}

/* footer */
.footer{
  padding: 2rem;
}
.footer .container{
  width: 100%;
  height: 10rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 70%; */
}
.footer *{
  color: aliceblue;
  font-size: 1.2rem;
  letter-spacing: 0.11em;
}
.footer h2{
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem;
}
.footer .phone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.phone a{
  margin: 0.1rem auto;
}
.footer hr{
  text-align: center;
  width: 40rem;
}
.footer .socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.socials a{
  margin: auto 0.4rem;
}
.foot-img{
  display: flex;
  width: 20vw;
  margin: auto;
}
.bot-img{
  width: 100vw;
  height: 40px;
  background: linear-gradient(#1C2347 40%, #55BEC0 40%);
  position: relative;
  bottom: 0px;
}


.header .toggle_button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index:2;
}

.header .toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (850px<= width <=1550px) {
  html {
    font-size: 12px;
  }

  .header{
    z-index:1;
  }
}


@media (685px < width <850px) {
  html {
    font-size: 10px;
    overflow-x:hidden;
  }

  .header {
    z-index: 1;
  }

  .header .header-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    position: fixed;
    z-index: 1;
    width: 30px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    left:100%;
    background: linear-gradient(180deg, #55BEC0 0%, #354A64 65.5%, #161B37 93.23%);
    overflow-x:hidden;
    opacity:0;
    top: 0;
    margin-top: 00px;

    list-style-type: none;
    transition: all 0.4s ease-out;
    
  }

  .header .header-inner a {
    text-align: right;
    padding:2.5rem;
    font-family: 'Satoshi';
    display: block;
    color: aliceblue;
    font-size:2rem;
  }

  .header .toggle_button {
    display: flex;
    top:2.2rem;
    padding:0.1rem;
    border-radius:3px;
  }

  .header .header-inner.active {
    right:0px;
    opacity:1;
    transform:translateX(-50vw);
  }

  html.active{
    overflow-y:hidden;
  }

}

@media (width<=685px) {
  html {
    font-size: 10px;
    overflow-x:hidden;
  }

  .header {
    z-index: 1;
  }

  .header .header-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    position: fixed;
    z-index: 1;
    width: 30px;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    left:100%;
    background: linear-gradient(180deg, #55BEC0 0%, #354A64 65.5%, #161B37 93.23%);
    overflow-x:hidden;
    opacity:0;
    top: 0;
    margin-top: 00px;

    list-style-type: none;
    transition: all 0.4s ease-out;
    
  }

  .header .header-inner a {
    text-align: right;
    padding:2rem;
    font-family: 'Satoshi';
    display: block;
    color: aliceblue;
    font-size:1.5rem;
  }

  .header .toggle_button {
    display: flex;
    top:2.2rem;
    padding:0.1rem;
    border-radius:3px;
  }

  .header .header-inner.active {
    right:0px;
    opacity:1;
    transform:translateX(-60vw);
  }

  html.active{
    overflow-y:hidden;
  }

  .footer hr{
    width:60%;
  }

}
