/* *{ border: 1px white solid;}     */

/* video */
.top{
    width: fit-content;
    margin: 5rem auto;
    display: grid;
    grid-auto-flow: row;
    place-content: center center;
    gap: 2rem;
}
.top h2{
    font-size: 6rem;
    font-weight: 200;
    text-transform: uppercase;
}
.vid-container{
    padding: 2rem;
    margin: auto;
    width: 90vw;
    background: #55BEC0;
    
    border-radius: 10px;
}
.vid{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 60vw;
}

/* seperator */
.foot-img{
  display: flex;
  width: 20vw;
  margin: auto;
}

/* teams */
.team{
  background: #b0edee;
  margin: 5rem auto;
  padding: 2.5%;
}
.team *{
    color: black;
}
.team h1{
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.255em;
    text-transform: uppercase;
}
.team .dom{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    --unit-distance: 1rem;
    gap: var(--unit-distance);
}
.team .dom h2{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.leads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: fit-content;
    margin: auto;
    justify-content: center;
    gap: var(--unit-distance);
}
.members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: fit-content;
    margin: auto;
    justify-content: center;
    gap: var(--unit-distance);
}
.team .profile .pic-container{
    --pic-height: 15.625rem;
    --pic-width: 12.5rem;
    position: relative;
    height: var(--pic-height);
    width: var(--pic-width);
    left: 0px;
    top: 0px;
    border-radius: 5px;
    padding: var(--unit-distance);
    background-color: #55bec0;  
    contain: strict;
}
.pic-container .pic{
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url("../../assets/about/prof-imgs/gen-prof-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-container .cover{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    background: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: rgba(28, 35, 71, 0.25) 0px 30px 60px -12px inset, rgba(28, 35, 71, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s;
}
.pic-container:hover > .cover{
    height: 100%;
}
.pic-container .links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transition: 0.2s;
}
.pic-container .links .link{
    height: 50%;
}
.pic-container:hover > .links{
    transform: translateY(-100%);
}

.pic-container .links{
    display: grid;

}
.profile p{
    text-align: center;
    text-transform: uppercase;
}
.profile .name{
    font-size: 1.5rem;
    font-weight: 500;
}
.profile .desig{
    font-size: 1.3rem;
    font-weight: 400;
}